@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
body,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

body {
  background-color: white;
  color: #0e0e0e;
  cursor: url("../assets/icons/icon-arrow-black.svg"), auto;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: url("../assets/icons/icon-link-black.svg"), auto;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

a :hover {
  color: #aa73ff;
  text-decoration: none;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
}

.light-mode {
  background-color: white;
  color: #161616;
  cursor: url("../assets/icons/icon-arrow-white.svg"), auto;
}

.dark-mode {
  background-color: #141414;
  color: white;
  cursor: url("../assets/icons/icon-arrow-white.svg"), auto;
}

.dark-mode-link {
  cursor: url("../assets/icons/icon-link-white.svg"), auto;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
}

.container .bulb-toggler {
  position: fixed;
  right: 8%;
  width: 10%;
  fill: #aa73ff;
  color: #aa73ff;
}

.email {
  color: #aa73ff;
  font-weight: 700;
  display: inline;
  cursor: url("../assets/icons/icon-email-black.svg"), auto !important;
}

.dark-mode-email {
  cursor: url("../assets/icons/icon-email-white.svg"), auto !important;
}

.hero__content {
  max-width: 560px;
  margin-top: 160px;
}

.hero__content h1 {
  font-size: 22px;
}

.hero__content p {
  font-weight: 300;
  margin-top: 48px;
}

.hero__content p:nth-child(2) {
  margin-bottom: 48px;
}

.hero__content p:nth-child(3) {
  margin-bottom: 48px;
  font-weight: 700;
}

.cases {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases .case:nth-child(odd) {
  margin-top: 40%;
  text-align: left;
}

.cases .case:nth-child(even) {
  text-align: right;
}

.cases .case:last-child {
  margin-bottom: 70%;
}

.cases .case {
  width: 45%;
  min-width: 300px;
  height: 420px;
}

.cases .case__text {
  margin: 40px 0;
}

.cases .case__title {
  font-weight: 400;
  margin-bottom: 10px;
}

.cases .case__desc {
  font-weight: 300;
}

.cases .case__img-wrapper {
  width: 100%;
}

.cases .case__img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  max-width: 70%;
}

.about__desc {
  margin: 40px 0;
  font-weight: 300;
}

.about p:last-child {
  color: #aa73ff;
  font-weight: 400;
}

.about a {
  width: 150px;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about ul li {
  font-weight: 300;
  text-decoration: underline;
  margin: 20px 0;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}

.about ul li :hover {
  text-decoration: none;
}

.footer {
  margin: 80px 0;
}

.footer__title {
  opacity: 0.3;
}

@media all and (max-width: 728px) {
  .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .case:nth-child(odd) {
    margin-top: 0%;
  }
  .case {
    height: 520px !important;
    width: 100%;
    margin: 20px !important;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  footer p {
    text-align: center;
  }
}

@media all and (max-width: 425px) {
  .cases {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .case:nth-child(odd) {
    margin-top: 0%;
  }
  .case {
    height: 520px !important;
    width: 100%;
    margin: 20px !important;
  }
}

@media all and (max-width: 360px) {
  * {
    font-size: 18px !important;
  }
  .cases {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center !important;
  }
  .case:nth-child(odd) {
    margin-top: 0% !important;
  }
  .case {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 520px !important;
    width: 100% !important;
    margin: 10px 0 !important;
    text-align: center !important;
  }
  .case__img-wrapper {
    width: 320px !important;
    margin: 0 !important;
  }
  .case img {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */